.author_avatar img {
    width: 150px
}

table.peopletab {
    border: 0;
    table-layout: fixed;
    width: 100%
}

#philosophy-menu-icon {
    display: none;
  }

@media (min-width: 761) {
    table.peopletab td {
        display: block;
    }
}

@media (max-width: 760px) {
    table.peopletab td {
        display: inline-block;
    }

    #philosophy-menu-icon {
        display: inline-block;
        margin-left: 10px;
        margin-top: 5px;
        width: 50px;
      }
}

.philosophy_nav {
    display: inline-block;
}

.philosophy_nav nav li a {
    color: #0057F8;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    /* float: center; */
    padding-top: 10px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 5px;
    margin-left: 7px;
    margin-right: 7px;
    border-bottom: none;
    transition: color 0.3s ease;
}

.philosophy_nav nav li a:hover {
    color: #00A144;
    border-bottom: 2px solid #00A144;
    text-decoration: none;
  }

.im-30 {text-align: center;}
.im-30 img {
    padding: 0;
    width: 30%;
}

.im-50 {text-align: center;}
.im-50 img {
    padding: 0;
    width: 50%;
}

.im-70 {text-align: center;}
.im-70 img {
    padding: 0;
    width: 70%;
}

/* @media (max-width: 760px) {
    .philosophy_nav nav {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .philosophy_menu_icon {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
} */